from nonebot.default_config import *


COMMAND_START = {'', '/', '!', '／', '！'}
HOST = '127.0.0.1'
PORT = '8080'

SUPERUSERS = {114514}


TULING_API_KEYs=[
        ""
]

SCP_DOMAIN=['http://scp-wiki-cn.wikidot.com/']

SCP_DOMAIN_INDEX=0

SETU_API_KEY=''

HELP_MESSAGE=''